<div class="task__list">
  <a href="<%= edit_task_path(task.id) %>" class="task__link">
    <div class="task__list--name">
      <%= task.name %>
    </div>
    <% if(task.is_done == false) %>
    <div class="task__list--body">
      <%= task.content %>
    </div>
    <% else %>
      <div class="task__list--body done">
        <%= task.content %>
      </div>
    <% end %>
  </a>
  <div class="task__list--buttons">
    <div class="task__list--toggle">
      <% if(task.is_done == false) %>
        <%= link_to "DONEにする",toggle_path(task.id),method: :patch, remote:true,value: task.is_done %>
      <% else %>
      <%= link_to "TODOにする",toggle_path(task.id),method: :patch, remote:true,value: task.is_done %>
      <% end %>
    </div>
    <%= link_to "削除する",task_path(task.id),method: :delete,data: {confirm: "本当に削除しますか？"}, class:"delete" %>
  </div>
</div>
