<div class="index__wrapper">
  <div class="task__left">
    <h1>TODO list</h1>
    <% if flash[:notice] %>
      <p class="flash__message--success"><%= notice %></p>
    <% elsif flash[:error] %>
      <p class="flash__message--error"><%= flash.now[:error] %></p>
    <% end %>
    <div class="modal__form"><%= render 'form' %><%= fa_icon "times 2x",class:"modal__close" %></div>
      <h2>TODO</h2>
      <div class="task__lists done">
        <div class="task__add">
           <a href="#"><%= fa_icon "plus 2x" %></a>
        </div>
        <% @tasks.each do |task| %>
          <% if task.is_done == false %>
            <a href="<%= edit_task_path(task.id) %>" class="task__link">
              <div class="task__list">
                <div class="task__list--name">
                  <%= task.name %>
                </div>
                <div class="task__list--body done">
                  <%= task.content %>
                </div>
                <div class="task__list--buttons">
                  <div class="task__list--toggle">
                    <%= link_to "DONEにする",toggle_path(task.id),method: :patch %>
                  </div>
                  <%= link_to "削除する",task_path(task.id),method: :delete,data: {confirm: "本当に削除しますか？"}, class:"delete" %>
                </div>
              </div>
            </a>
          <% else %>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="task__right">
    <h2>DONE</h2>
    <div class="task__lists">
      <% @tasks.each do |task| %>
        <% if task.is_done == true %>
          <a href="<%= edit_task_path(task.id) %>" class="task__link">
            <div class="task__list">
              <div class="task__list--name">
                <%= task.name %>
              </div>
              <div class="task__list--body">
                <%= task.content %>
              </div>
              <div class="task__list--buttons">
                <div class="task__list--toggle">
                  <%= link_to "TODOにする", toggle_path(task.id),method: :patch %>
                </div>
                <%= link_to "削除する",task_path(task.id),method: :delete,data: {confirm: "本当に削除しますか？"}, class:"delete" %>
              </div>
            </div>
          </a>
        <% else %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
