<div class="index__wrapper">
  <% if flash[:notice] %>
    <p class="flash__message--success"><%= notice %></p>
  <% elsif flash[:error] %>
    <p class="flash__message--error"><%= flash.now[:error] %></p>
  <% end %>
  <h1>TODO list</h1>
  <%= render 'form' %>
  <div class="task__wrapper">
    <div class="task__lists">
      <h2>TODO</h2>
      <% @tasks.each do |task| %>
        <% if task.is_done == false %>
          <a href="<%= edit_task_path(task.id) %>" class="task__link">
            <div class="task__list">
              <div class="task__list--name">
                <%= task.name %>
              </div>
              <div class="task__list--body">
                <%= task.content %>
              </div>
              <div class="task__list--buttons">
                <div class="task__list--toggle">
                  <%= link_to "DONEにする",toggle_path(task.id),method: :patch %>
                </div>
              </div>
            </div>
          </a>
        <% else %>
        <% end %>
      <% end %>
    </div>
    <div class="task__lists">
      <h2>DONE</h2>
      <% @tasks.each do |task| %>
        <% if task.is_done == true %>
          <a href="<%= edit_task_path(task.id) %>" class="task__link">
            <div class="task__list">
              <div class="task__list--name">
                <%= task.name %>
              </div>
              <div class="task__list--body">
                <%= task.content %>
              </div>
              <div class="task__list--buttons">
                <div class="task__list--toggle">
                  <%= link_to "TODOにする", toggle_path(task.id),method: :patch %>
                </div>
              </div>
            </div>
          </a>
        <% else %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
